{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block bgcover %}style="background-image:url('/static/images/bg2.png');"
{% endblock %}
{% block content%}
<h1 align="center" style="color:white;margin: 100px">IoT based Smart bottle for Healthcare</h1>


<span style="float:right;width: 10%;padding:0px;margin: 40px 200px;">
    <img src="/static/images/Water-Level-Sensor-Working.gif" ></span>
<span style="float:left;width:60%;">
<p style="color:#a3a0a0;text-align:left;margin-left: -50px;
  margin-right: 0px;margin-top: -400px;">

    During recent years, due to the technological advancements many sophisticated techniques has been evolved for assuring fast recovery of the patients in hospitals.<br/><br/>
Need for good patient care in hospitals, assessment and management of fluid and electrolyte is the most fundamental thing required.<br/><br/>
All most in all hospital, an assist/nurse is responsible for monitoring the electrolyte’s bottle level.<br/><br/>
But unfortunately most of the time, the observer may forget to change the bottle at correct time due to their busy schedule.To overcome this critical situation, a IoT based automatic alerting and indicating device is proposed where sensor is used as a level sensor or weight sensor.<br/><br/>
It is based on the principle that the sensor output changes when fluid level/weight is below certain limit. When Fluid level/weight is low, will alerts the observer through the display or/and mobile phone at the control room indicates the room number of the patient for quick recovery Hospital uses simple electrolytes bottles with no indication, it may create a problem to patient because the reverse flow will start, blood start to flow from body towards bottle.<br/><br/>
In, Hospital ICU, CCU, NICU, OPD, OT, most of all department of hospital required such kind of automatic monitoring and indication system. Also Health care industries will one of the users such monitoring system can be useful in small , medium and large size of hospitals and also it useful during home care.<br/><br/>
If such a monitoring system builds, it will decrease the chances of patients hazards and increases the accuracy of health care in hospital. In future we can design a ready mate portable cover system for such bottle.<br/><br/>
    Ready mate Wearable sensors on sides of bottle can detect level/weight of-fluid inside bottles. Such data can also send to nurses and/or doctor`s mobile and they can start or stop the fluid and also monitoring fluid condition, such things required security password also.<br/><br/><br/></p></span>

    <span style="width: 10%;padding:0px;margin-left: 125px">
    <img src="/static/images/flow-chart.png" ></span>
    <span style="float:left;width:60%;">
<p style="color:#a3a0a0;text-align:left;margin-left: -50px;
  margin-right: 0px;margin-top: 60px;margin-bottom:-80px;">
Hospital staff, the constant need to manually monitor the level of bottles is avoided. This is of high advantage to the patients especially during night times. This system also avoids the fatal risk of air bubbles entering the patient’s bloodstream, which is a serious threat as air bubbles in blood can cause immediate death.<br/><br/>
Such a device will create assurity of non-harm condition to patients. and also helpful to monitoring of data and such data can be stored and will be useful in future.<br/>
</p></span>

{% endblock %}